@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<SampleSocialNetwork.Models.ApplicationUser>

<strong>All registered users:</strong>
<ul>
    @foreach (var user in Model)
    {
        <li><a href="~/Users/@user.UserName">@user.UserName</a></li>
    }
</ul>

