@model SampleSocialNetwork.Models.ApplicationUser
@{
    ViewBag.Title = "View Profile";
}
 


<div id="profileInfoHolder">
    <h2>@Model.UserName</h2>
</div>

@if (Request.IsAuthenticated && Model.Id != User.Identity.GetUserId())
{
    <a class="btn btn-info" href="#/Messaging/@Model.UserName">Message</a>
}

@section Scripts {
    <script src="~/Scripts/view-profile.js"></script>
}